h1 {
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
    color: #f7b820;
    font-family: Arial, serif;
    font-size: 80px;
}

p.description, p.instruction {
    margin-top: 50px;
    padding: 5px;
    text-align: center;
    font-family: Manrope-regular, serif;
    font-size: 20px;
}

div#exercise {
    width: 47%;
    /*background-color: red;*/
    float: left;
    color: white;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: 0;
}

p.x {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-family: Arial, serif;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 40px;
}


div#form {
    width: 47%;
    /*background-color: green;*/
    float: right;
}

textarea {
    display: block;
    width: 88%;
    min-height: 300px;
    margin: auto;
    /*padding: 20px;*/
    background-color: #303030;
    color: white;
    border: 2px solid grey;
    border-radius: 15px;
    padding: 15px;
}

.rainbow {
    background: linear-gradient(100deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1000% 1000%;

    -webkit-animation: rainbow 1s ease infinite;
    -z-animation: rainbow 1s ease rotate(360deg);
    -o-animation: rainbow 1s ease infinite;
    animation: rainbow 1s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

label {
    display: inline;
    color: white;
    margin-left: 2.5%;
}

input[type=submit] {
    display: block;
    width: 95%;
    margin: 20px auto auto auto;
    background-color: white;
}

input[type=submit]:hover {
    background-color: #a0ff98;
}
