{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% if not user.is_authenticated %}
    <meta http-equiv="refresh" content="0; url=login">
    {% endif %}
    <meta charset="UTF-8">
    <title>Python Lab</title>
    <link rel="stylesheet" href="{% static 'style/base.css' %}">
    <link rel="stylesheet" href="{% static 'style/exercise.css' %}">
    <script src="{% static 'js/jQuery.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
</head>
<body>

<div id="all">
    <div id="box">

        <div id="top-bar">
            <p>pythonlab</p>
            <ul class="menu">
                <li><a href="{% url 'exercises' %}" class="exercises">zadania</a></li>
                <li><a href="{% url 'account' %}">konto</a></li>
                <li><a href="{% url 'logout' %}">wyloguj</a></li>
            </ul>
        </div>

        <div id="content">
            {% block content %}
                <h1>Witaj {{ request.user.first_name }}!</h1>
                <p class="hello-text">
                    tutaj tekst powitalny
                </p>
            {% endblock %}
        </div>

        <div id="footer">
        dowiedz się więcej o tym projekcie na <a href="https://github.com/e-kosk/pythonlab">github.com</a>
        </div>

    </div>

    <div id="exercises">
        <p class="x">UKRYJ</p>
        <ul class="exercises-list">
            {% for exercise in exercises %}
            <li><a href="/exercise/{{ exercise.id }}">{{ exercise.id }} {{ exercise.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>