{% extends 'base/base.html' %}
{% block content %}
<div id="user-profile">
    <h1 class="username">{{ request.user.username }}</h1>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="edytuj" class="accept" data-edited="false">
        <table class="user-profile">
            <tr>
                <td>Imię</td>
                <td><input name="first_name" type="text" value="{{ request.user.first_name }}" readonly></td>
            </tr>
            <tr>
                <td>Nazwisko</td>
                <td><input name="last_name" type="text" value="{{ request.user.last_name }}" readonly></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input name="email" type="email" value="{{ request.user.email }}" readonly></td>
            </tr>
            <tr>
                <td>Punkty</td>
                <td class="no-edit">{{ user_points }}</td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
